@media (min-width:801px) {

}

.fc-scroller {
    height: auto !important;
  }
  
  .fc-head .fc-widget-header {
    margin-right: 0 !important;
  }
  
  .fc-scroller {
    overflow: visible !important;
  }