<div class="pageContainer">
  <mat-card>
    <form class="example-form">
      <div class="contentContainer">
        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" id="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" >
        </mat-form-field>
        <div class="buttonContainer">
          <button mat-raised-button color="primary">
            Login
          </button>
          <a [routerLink]="'/register'" mat-button color="primary">
            Register
          </a>
        </div>
      </div>
    </form>          
  </mat-card>
</div>
